{% extends 'base.html.twig' %}

{% block title %}Compra{% endblock %}

{% block body %}
    <h1>Compra</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compra.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ compra.fecha ? compra.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ compra.usuario }}</td>
            </tr>
            <tr>
                <th>Productos</th>
                <td>
                    {% if compra.producto is iterable %} 
                        {% for p in compra.producto %} 
                            <span class="badge text-bg-success rounded-pill">{{p.nombre}}</span>
                        {% endfor %}
                    {% endif %} 
                <td>
            </tr>
        </tbody>
    </table>
    <br/>

    <a class="btn btn-primary" href="{{ path('app_compra_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('app_compra_edit', {'id': compra.id}) }}">edit</a>

    {{ include('compra/_delete_form.html.twig') }}
{% endblock %}
